<!DOCTYPE html>
<!--
  Only setting "overflow-x-hidden" on the body doesn't work. It should be set
  on both the html and body elements. Also, overflow-x on the page level only
  works if there's nothing absolutely positioned in relation to body. That's
  why we add the "relative" class to the header element below
-->
<html lang="en" class="overflow-x-hidden overflow-y-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Mobile app landing page template for your startup, business, or indie venture."
    />

    <title>Nestor — Mobile App Landing Page Template</title>

    <!-- Social media tags (see https://ogp.me/) -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/src/style.css" />

    <!-- Favicons -->
    <!-- You can generate favicons with your logo at: https://www.favicon-generator.org/ -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <!-- Body is not scrollable by default. We enable scrolling & remove loading
    animation once the page loads. See script.js -->
  <body
    class="overflow-x-hidden overflow-y-hidden bg-gray-50 scrollbar-thin scrollbar-track-primary-50 scrollbar-thumb-primary-700"
  >
    <!-- Loading screen -->
    <div class="loading-screen relative">
      <div class="absolute top-0 left-0 z-[100] h-screen w-full bg-white">
        <img
          class="absolute top-1/2 left-1/2 h-48 w-48 -translate-x-1/2 -translate-y-1/2 lg:h-auto lg:w-auto"
          src="/images/loading-spinner.svg"
          alt="Loading..."
          aria-label="Loading website..."
        />
      </div>
    </div>

    <!-- SECTION: @Navigation -->
    <header
      class="main-header relative flex h-16 items-end bg-white px-4 py-[14px] md:items-center md:bg-gray-50 md:px-8 lg:h-20 lg:py-10 lg:px-16 xl:h-24"
    >
      <div
        class="mx-auto flex max-w-lg flex-1 items-center justify-between md:max-w-full lg:max-w-7xl"
      >
        <!-- Logo -->
        <a href="/">
          <img
            src="/images/logo.svg"
            class="w-20 md:w-28 lg:w-36"
            alt="Nestor app logo"
          />
        </a>

        <!-- Navigation menu -->
        <nav
          class="nav-mobile pointer-events-none invisible absolute top-0 left-0 z-10 flex h-screen w-full translate-x-full transform items-center justify-center bg-white/95 opacity-0 backdrop-blur-sm transition duration-500 ease-in-out md:pointer-events-auto md:visible md:static md:z-auto md:h-auto md:translate-x-0 md:justify-end md:bg-gray-50 md:opacity-100 md:backdrop-blur-none"
        >
          <ul
            class="flex flex-col gap-8 text-center md:flex-row md:gap-10 lg:gap-14"
          >
            <li>
              <a href="/#features" class="nav-link">Features</a>
            </li>
            <li>
              <a href="/#how-it-works" class="nav-link">How it works</a>
            </li>
            <li>
              <a href="/#testimonials" class="nav-link">Testimonials</a>
            </li>
            <li>
              <a href="/#pricing" class="nav-link">Pricing</a>
            </li>
            <li class="mt-2 md:mt-0">
              <a href="#!" class="btn-primary">Get started</a>
            </li>
          </ul>
        </nav>

        <!-- Mobile navigation open/close button -->
        <button
          class="btn-mobile z-20 border-none bg-none outline-none md:pointer-events-none md:hidden"
          aria-label="Toggle navigation menu"
        >
          <img
            class="icon-open"
            src="/icons/hamburger.svg"
            alt="Mobile menu icon"
          />
          <img
            class="icon-close hidden"
            src="/icons/close.svg"
            alt="Mobile menu close icon"
          />
        </button>
      </div>
    </header>

    <!-- SECTION: @Blog -->
    <main>
      <header
        class="sticky-observable grid place-items-center bg-gradient-to-br from-primary-500 to-primary-700 px-4 py-8 md:py-12 lg:py-16 xl:py-20"
      >
        <div class="max-w-max">
          <h1
            class="text-left text-xl font-bold text-primary-50 md:text-2xl lg:text-3xl xl:text-4xl"
          >
            Best design resources for web developers
          </h1>
          <span class="mt-4 block text-sm text-primary-200"
            >Posted on 12 Jun, 2022</span
          >
        </div>
      </header>

      <!-- Blog Post -->
      <div
        class="px-4 py-14 leading-relaxed sm:mx-auto sm:max-w-[630px] sm:px-6 md:max-w-3xl md:leading-loose lg:max-w-4xl lg:py-16 xl:py-20"
      >
        <img
          src="/images/placeholder.jpg"
          alt="Placeholder image"
          class="mb-6 max-w-full sm:float-left sm:mr-6 sm:mb-3 sm:max-w-[200px] md:max-w-[220px] lg:mr-8 lg:mb-6 lg:max-w-xs"
        />
        <p class="mb-4 lg:mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
          tristique dui nulla cursus volutpat ac nunc. Magna netus sed in hac
          sapien. Et bibendum donec porttitor nisl aenean. Sagittis, euismod
          morbi proin ut at. Lobortis convallis netus posuere volutpat mauris
          mauris id. Massa sed enim vestibulum suspendisse sollicitudin velit
          metus, tincidunt. Porttitor turpis ultrices vitae natoque
        </p>
        <p class="mb-4 lg:mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
          tristique dui nulla cursus volutpat ac nunc. Magna netus sed in hac
          sapien. Et bibendum donec porttitor nisl aenean. Sagittis, euismod
          morbi proin ut at. Lobortis convallis netus posuere volutpat mauris
          mauris id. Massa sed enim vestibulum suspendisse sollicitudin velit
          metus, tincidunt. Porttitor turpis ultrices vitae natoque commodo
          tortor ipsum. Blandit sodales mattis diam vel faucibus sit
          pellentesque ultrices neque. Sed malesuada eu mus pharetra senectus
          volutpat dignissim libero neque.
        </p>
        <p class="mb-4 lg:mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in
          tristique dui nulla cursus volutpat ac nunc. Magna netus sed in hac
          sapien. Et bibendum donec porttitor nisl aenean. Sagittis, euismod
          morbi proin ut at. Lobortis convallis netus posuere volutpat mauris
          mauris id. Massa sed enim vestibulum suspendisse sollicitudin velit
          metus, tincidunt. Porttitor turpis ultrices vitae natoque commodo
          tortor ipsum. Blandit sodales mattis diam vel faucibus sit
          pellentesque ultrices neque. Sed malesuada eu mus pharetra senectus
          volutpat dignissim libero neque.
        </p>
      </div>
    </main>

    <!-- Divider -->
    <div class="mt-20 h-[1px] w-full bg-[#E2E8F0] md:mt-24 lg:mt-32"></div>

    <!-- SECTION: @Footer -->
    <footer
      class="px-4 pt-16 pb-28 text-sm md:text-base lg:px-10 lg:py-20 xl:py-28"
    >
      <div
        class="mx-auto grid max-w-lg sm:grid-cols-2 sm:gap-y-24 md:max-w-3xl md:gap-y-20 lg:max-w-7xl"
      >
        <!-- Copyright & address information -->
        <div class="mb-12 text-gray-500">
          <a href="/" class="mb-8 block opacity-90">
            <img
              src="/images/logo.svg"
              class="w-20 md:w-24"
              alt="Nestor app logo"
            />
          </a>
          <p class="mb-3">
            Copyright &copy; Nestor Inc. <span class="year"></span>
          </p>
          <p class="mb-6">2583 Short Street, Austin TX</p>
          <p class="transition hover:opacity-50">
            <a href="mailto:CreatorX64@gmail.com">CreatorX64@gmail.com</a>
          </p>
        </div>

        <!-- Social links -->
        <div class="mb-14 flex items-center gap-7 sm:row-start-2">
          <a href="#!">
            <img
              src="/icons/facebook.svg"
              alt="Facebook icon"
              class="h-9 w-9"
            />
          </a>
          <a href="#!">
            <img
              src="/icons/linkedin.svg"
              alt="LinkedIn icon"
              class="h-9 w-9"
            />
          </a>
          <a href="#!">
            <img src="/icons/twitter.svg" alt="Twitter icon" class="h-9 w-9" />
          </a>
          <a href="#!">
            <img
              src="/icons/instagram.svg"
              alt="Instagram icon"
              class="h-9 w-9"
            />
          </a>
        </div>

        <!-- Sitemap -->
        <div
          class="flex items-start gap-10 text-gray-500 md:justify-end md:gap-16"
        >
          <ul class="flex flex-col items-start gap-6">
            <li>
              <a href="/#features">Features</a>
            </li>
            <li>
              <a href="/#how-it-works">How it works</a>
            </li>
            <li>
              <a href="/#testimonials">Testimonials</a>
            </li>
          </ul>
          <ul class="flex flex-col items-start gap-6">
            <li>
              <a href="/#pricing">Pricing</a>
            </li>
            <li>
              <a href="/blog/index.html">Blog</a>
            </li>
            <li>
              <a href="/terms/index.html">Terms of service</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script type="module" src="/src/script.js"></script>
  </body>
</html>
